<a href="https://colab.research.google.com/github/smduarte/spbd-2425/blob/main/docs/labs/lab5/SPBD_Labs_spark3_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Spark SQL Exercises

For this set of exercises, you should use SQL statements, as
much as possible!

Check this online resource for some help with [SQL queries](https://www.codecademy.com/learn/learn-sql/modules/learn-sql-queries/cheatsheet)

In [1]:
#@title Install Pyspark
!pip install --quiet pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [2]:
#@title Download "Os Maias"
!wget -q -O os_maias.txt https://www.dropbox.com/s/n24v0z7y79np319/os_maias.txt?dl=0
!wc os_maias.txt

   5877  216896 1292368 os_maias.txt

##1. Sorted Word Frequency

1.1) Create a [Spark SQL](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/index.html) program that counts the number of occurrences of each word in "Os Maias" novel, sorting them by frequency (the words with higher occurrence first).

In [5]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try :
  lines = sc.textFile('os_maias.txt') \
            .filter( lambda line : len(line) > 1 ) \
            .map( lambda line : Row( line = line ) )

  linesDF = spark.createDataFrame( lines )
  linesDF.createOrReplaceTempView("OSMAIAS")

  x = spark.sql("SELECT count(*) as lines FROM OSMAIAS")

  x.show(5)
except Exception as err:
  print(err)
  sc.stop()

+-----+
|lines|
+-----+
| 5839|
+-----+

1.2) Create a Spark Dataframes program that computes the top 10 most used words in "Os Maias" novel.

##2. Weblog Analysis

Consider a set of log files captured during a DDOS (*Distributed Denial of Service*) attack, containing information for the web accesses performed during the attack to the server.

The log files contain text lines as shown below, with TAB as the separator:

date |IP_source | status_code | operation | URL | execution time |
-|-|-|-|-|-
timestamp  | string | int | string | string| float |
2016-12-06T08:58:35.318+0000|37.139.9.11|404|GET|/codemove/TTCENCUFMH3C|0.026

In [7]:
#@title Download the dataset
!wget -q -O web.log https://www.dropbox.com/s/0r8902uj9yum7dg/web.log?dl=0
!head -1 web.log

!echo "date ipSource retValue op url time" > weblog_with_header.log
!cat web.log >> weblog_with_header.log
!head -2 weblog_with_header.log

2016-12-06T08:58:35.318+0000 37.139.9.11 404 GET /codemove/TTCENCUFMH3C 0.026
date ipSource retValue op url time
2016-12-06T08:58:35.318+0000 37.139.9.11 404 GET /codemove/TTCENCUFMH3C 0.026

2.1. Count the number of unique IP addresses involved in the DDOS attack.

In [8]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]') \
						.appName('weblog').getOrCreate()

sc = spark.sparkContext
try :
    logRows = spark.read.csv('weblog_with_header.log',
                             sep =' ', header=True, inferSchema=True)

    logRows.printSchema()
    logRows.createOrReplaceTempView("WebLog")

    x = spark.sql("SELECT count(*) as lines FROM WebLog")

    x.show(5)
except Exception as err:
    print(err)

root
 |-- date: timestamp (nullable = true)
 |-- ipSource: string (nullable = true)
 |-- retValue: integer (nullable = true)
 |-- op: string (nullable = true)
 |-- url: string (nullable = true)
 |-- time: double (nullable = true)

+------+
| lines|
+------+
|143457|
+------+

2.2. For each interval of 10 seconds, provide the following information: [number of requests, average execution time, maximum time, minimum time]

2.3. Create an inverted index that, for each interval of 10 seconds, has a list of (unique) IPs executing accesses (to each URL).

2.4. Create an inverted index that, for each interval of 15 seconds, has a list of (unique) IPs executing accesses (to each URL).